#!/bin/sh

login="user@domain.ru"
password="пароль"
paycode="код_плательщика"
kv="номер_квартиры"
mosenergo_accnum="лицевой_счет_мосэнергосбыта"
mosenergo_cntnum="номер_счетчика_мосэнергосбыта"

# Маппинг параметров на идентификаторы камер
video_map_id() {
# подъезды
case "$1" in
    1)
        cam_id="12345"
        ;;
    2)
        cam_id="23456"
        ;;
    3)
        cam_id="34567"
        ;;
    *)
        cam_id="$1"
        ;;
esac
}
